.ninja-cms-btn {
    padding: 1rem;
    background-color: var(--ninja-cms-btn-bg-clr);
    color: var(--ninja-txt-clr);

    &:hover {
        background-color: var(--ninja-cms-btn-hover-clr);
        color: var(--ninja-txt-hover-clr);
    }
}

.ninja-cms-button-flex {
    display: flex;

    &-start {
        justify-content: flex-start;
    }

    &-center {
        justify-content: center;
    }

    &-end {
        justify-content: flex-end;
    }
}