.cms-element-single-faq {
    .ninja-single-faq-button {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        white-space: normal;
        span {
            margin-bottom: 0.75rem;
        }
        .icon {
            color: var(--ninja-icon-clr);
        } 
    }
    .btn:focus, .btn.focus {
        box-shadow: none;
    }
    .card {
        padding: 1rem;
    }
    .icon-arrow-head-up  {
        svg {
            transform: rotate(0deg);
            transition: 0.25s ease-in-out;
        }
    }
    .icon-plus {
        svg {
            transform: rotate(135deg);
            transition: 0.25s ease-in-out;
        }
     } 
    .collapsed {
        .icon-arrow-head-up  {
            svg {
                transform: rotate(180deg);
                transition: 0.25s ease-in-out;
            }
        }
        .icon-plus {
            svg {
                transform: rotate(0deg);
                transition: 0.25s ease-in-out;
            }
         } 
      
    }
}
