{% block sw_cms_block_ninja_button_preview %}
	<div class="ninja-flex-center">
		<div class="sw-cms-preview-faq-question">
            Single FAQ
            <span class="faq-icon">+</span>
        </div>
	</div>
{% endblock %}
