.ninja-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    height: 100%;
    .sw-cms-preview-faq-question {
        background-color: #4492ed;
        color: #fff;
        padding: 10px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .faq-icon {
        font-weight: bold;
        margin-left: 10px;
    }
}